.blocks-holder {
  overflow-x: hidden;
}

.blocks {
  padding-top: 20px;
  // shhhhhhhhhhhhhh,
  // no tears, 
  // only gambiarras now
  width: 101%;
  .grid-sizer {
    width: 24%;
  }
  .gutter-sizer {
    width: 1%;
  }

  .block {
    .block-icon {
      font-size: 40px;
      color: white;
      text-shadow: 1px 1px 0px black;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .block-url {
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }

    &.with-image .block-url {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: @border-radius-large;  
    }

    &.block-w1 {
      width: 24%;
    }
    &.block-w2 {
      width: 49%;
    }
    &.block-h1 {
      .block-icon {
        right: 15px;
        top: 15px;
        font-size: 25px;
      }
      height: 100px;
    }
    &.block-h2 {
      height: 205px;
    }

    .block-title, .block-subtitle {
      font-family: "AmaranthRegular";
      color: white;
      text-shadow: 1px 1px 0px black;
      position: absolute;
    }

    .block-title {
      top: 5px;
      left: 5px;
    }
  
    .block-subtitle {
      bottom: 5px;
      left: 5px;
    }

    margin-bottom: 5px;
    border-radius: @border-radius-large;
    background-color: @brand-primary;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    &:hover {
      .box-shadow(2px 2px 0px rgba(0,0,0, 1));
      margin-left: -2px;
      margin-top: -2px;
    }
  }
}