.search-holder {
  font-family: AmaranthRegular;
  border-radius: @border-radius-large;
  background-color: @brand-primary;
  padding: @padding-large-horizontal;
  padding-bottom: 0;
  .search-form {
    .search-input-wrapper {
      position: relative;
      z-index: 10;
      background-color: darken(@brand-primary, 15%);
      border-radius: @border-radius-large;
      padding: ceil((@padding-large-horizontal * 0.6));

      .twitter-typeahead {
        width: 100%;
        z-index: 8;
        position: relative;
        .tt-header {
          padding: 5px;
        }
        .tt-dropdown-menu {
          overflow: hidden;
          width: 100%;
          background-color: white;
          border-radius: @border-radius-large;
          margin-top: -10px;
          .tt-suggestion {
            &.tt-cursor {
              background-color: @brand-primary;
              color: @btn-primary-color;
            }
            padding: 5px;
            .tt-line {
              height:20px;
              line-height:20px;
              .tt-line-icon {
                margin-right: 5px;
              }
              .tt-line-suffix {
                color: lighten(@text-color, 50%);
                margin-right: 5px;
              }
            }
          }
        }
      }
      .search-input {
        padding: ceil((@padding-large-horizontal * 0.8));
        border-radius: @border-radius-large;
        border: none;
        font-size: ceil((@font-size-base * 1.6));
        color: @brand-primary;
        width: 100%;
        position: relative;
        z-index: 9;
      }
      .search-button {
        position: absolute;
        z-index: 9;
        top: ceil((@padding-large-horizontal * 0.6) * 1.5);
        bottom: ceil((@padding-large-horizontal * 0.6) * 1.5);
        right: ceil((@padding-large-horizontal * 0.6) * 1.5);
        width: 50px;

      }
    }
  }
}