.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin > h2 {
  font-size: 40px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  .cool-banner {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: @well-bg;
    .box-shadow(0 1px 4px rgba(0,0,0,.3));
    line-height: 120px;
    overflow: hidden;
    margin-bottom: 30px;
    user-selection: none;
    cursor: default;
    i {
      display: block;
      margin: 0 auto;
      width: 120px;
      font-size: 150px;
      margin-left: -15px;
    }
  }
  .login-button {
    margin-top: 30px;
  }
}