.topbar {
  .menu-holder{
    .menu {
      padding: 0px ceil((@padding-large-horizontal * 0.8));
      li {
        a {
          padding: 0px ceil((@padding-large-horizontal * 0.8));
          color: @btn-primary-color;
          &.active {
            .box-shadow(inset 0 2px 6px rgba(0,0,0,.125));
          }
          &:hover, &:focus {
            .box-shadow(inset 0 2px 6px rgba(0,0,0,.125));
            background: none;
          }
        }
      }
    }
  }
  .basic-filters {
    .item {
      > a {
        padding: 0px ceil((@padding-large-horizontal * 0.8));
        color: @btn-primary-color;
        &:hover {
          text-decoration: none;
        }
        &:hover, &:focus {
          .box-shadow(inset 0 2px 6px rgba(0,0,0,.125));
          background: none;
        }
      }
      .filter-tooltip {
        .arrow,
        .arrow:after {
          border-color: transparent;
          border-style: solid;
        }
        .arrow {
          border-bottom-color: @popover-arrow-outer-fallback-color; // IE8 fallback
          border-bottom-color: @popover-arrow-outer-color;
          &:after {
            border-bottom-color: @popover-arrow-color;
          }
        }
        .close-tooltip {
          text-transform: uppercase;
          color: @text-color;
        }
        background-color: @popover-bg;
        border: 1px solid @popover-fallback-border-color;
        border: 1px solid @popover-border-color;
        .box-shadow(0 5px 10px rgba(0,0,0,.2));
        .filter-tooltip-content {
          a {
            color: @gray-dark;
          }
          > ul.squared {
            > li > a {
              &:hover, &:focus {
                background: @btn-primary-border;
                color: @btn-primary-color;
                text-decoration: none;
              }
            }
          }
          > ul.list {
            > li > a {
              &:hover, &:focus {
                background: @btn-primary-border;
                border-radius: @border-radius-large;
                color: @btn-primary-color;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .topbar {
    .navbar-toggle{
      padding: 0px 10px;
      color: white;
    }
    .menu-holder{
      clear: both;
      padding: 0px;
      margin: 0px;
      .menu {
        margin: 0px;
        list-style: none;
        padding: 0px ceil((@padding-large-horizontal * 0.8));
        li {
          padding: 0px;
          margin: 0px;
          a {
            padding: 0px;
            margin: 0px;
            padding: 0px 0px;
            height: 40px;
            line-height: 40px;
            text-shadow: none;
            display: inline-block;
            color: @btn-primary-color;
            &.active {
              .box-shadow(none);
            }
            &:hover, &:focus {
              .box-shadow(none);
              background: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body.topbar-is-open {
    overflow: hidden;
  }
  .topbar {
    .basic-filters {
      position: static;
      .item {
        position: static;
        .filter-tooltip {
          min-width: 320px;
          width: 100%;
          position: fixed;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          border: none;
          border-radius: 0;
          margin-top: 0px;
          margin-right: 0px;
          .arrow {
            display: none;
          }
          .close-tooltip {
            position: fixed;
            display: block;
            font-size: 50px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            padding: 0px;
            text-align: center;
            &:hover, &:focus {
              text-decoration: none;
            }
          }
          .filter-tooltip-content {
            max-height: 100%;
            overflow-y: auto;
            padding: 5px;
            padding-bottom: 30px;
            margin-top: 0;
            a {
              color: @gray-dark;
              font-size: 40px;
            }
            > ul.squared {
              position: absolute;
              width: 100%;
              height: 100%;
              overflow: auto;
              > li {
                margin: 0.77777777%;
                float: left;
                width: 18%;
                padding-bottom: 18%;
                position: relative;
              }
              > li > a {
                border: 1px solid @gray-dark;
                border-radius: @border-radius-large;
                font-size: 220%;
                line-height: 0px;
                padding-top: 65%;
                padding-left: 15%;
                text-align: left;
              }
            }
            > ul.list {
              list-style: none;
              padding: 0;
              margin: 0;
              > li {
                display: block;
              }
              > li > a {
                display: block;
                width: 100%;
                height: 50px;
                padding: 5px 15px;
                line-height: 35px;
                text-align: left;
                &:hover {
                  background: @btn-primary-border;
                  border-radius: @border-radius-large;
                  color: @btn-primary-color;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
