.topbar {
  .menu-holder{
    padding: 0px;
    margin: 0px;
    .menu {
      margin: 0px;
      list-style: none;
      padding: 0px ceil((@padding-large-horizontal * 0.8));
      li {
        padding: 0px;
        margin: 0px;
        a {
          padding: 0px;
          margin: 0px;
          padding: 0px ceil((@padding-large-horizontal * 0.8));
          height: 40px;
          line-height: 40px;
          text-shadow: none;
          display: inline-block;
          color: @btn-primary-color;
          &.active {
            .box-shadow(inset 0 2px 6px rgba(0,0,0,.125));
          }
          &:hover, &:focus {
            .box-shadow(inset 0 2px 6px rgba(0,0,0,.125));
            background: none;
          }
        }
      }
    }
  }
  .basic-filters {
    float: right;
    position: relative;
    margin-right: 10px;
    .item {
      display: inline-block;
      position: relative;
      > a {
        padding: 0px ceil((@padding-large-horizontal * 0.8));
        height: 40px;
        line-height: 40px;
        display: inline-block;
        color: @btn-primary-color;
        &:hover {
          text-decoration: none;
        }
        &:hover, &:focus {
          .box-shadow(inset 0 2px 6px rgba(0,0,0,.125));
          background: none;
        }
      }
      .filter-tooltip {
        z-index: 50;
        display: none;
        &.visible {
          display: block;
        }
        .arrow,
        .arrow:after {
          position: absolute;
          display: block;
          border-color: transparent;
          border-style: solid;
        }
        .arrow {
          border-width: @popover-arrow-outer-width;
        }
        .arrow:after {
          border-width: @popover-arrow-width;
          content: "";
        }
        .arrow {
          right: 5px;
          margin-left: -@popover-arrow-outer-width;
          border-top-width: 0;
          border-bottom-color: @popover-arrow-outer-fallback-color; // IE8 fallback
          border-bottom-color: @popover-arrow-outer-color;
          top: -@popover-arrow-outer-width;
          &:after {
            content: " ";
            top: 1px;
            margin-left: -@popover-arrow-width;
            border-top-width: 0;
            border-bottom-color: @popover-arrow-color;
          }
        }
        .close-tooltip {
          display: none;
          cursor: pointer;
          position: absolute;
          bottom: 5px;
          right: 5px;
          text-transform: uppercase;
          color: @text-color;
        }
        position: absolute;
        width: 210px;
        margin-top: 10px;
        right: 10px;
        top: 75%;
        margin-right: -@popover-arrow-outer-width;
        background-color: @popover-bg;
        background-clip: padding-box;
        border: 1px solid @popover-fallback-border-color;
        border: 1px solid @popover-border-color;
        border-radius: @border-radius-large;
        .box-shadow(0 5px 10px rgba(0,0,0,.2));
        .filter-tooltip-content {
          max-height: 350px;
          overflow-y: auto;
          padding: 5px;
          // em respeito as pessoas com problemas motores deixamos
          // uma margem para a pessoa não ficar com raiva do mouse :)
          // margin-top: -40px;
          // padding-top: 45px;
          a {
            color: @gray-dark;
          }
          > ul.squared {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            position: relative;
            > li {
              float: left;
              width: 20%;
              padding-bottom: 20%;
              position: relative;
            }
            > li > a {
              position: absolute;
              height: 100%;
              width: 100%;
              left: 0px;
              right: 0px;
              bottom: 0px;
              top: 0px;
              font-size: 1em;
              line-height: 1em;
              padding-top: 0.9em;
              text-align: center;
              &:hover, &:focus {
                background: @btn-primary-border;
                border-radius: @border-radius-large;
                color: @btn-primary-color;
                text-decoration: none;
              }
            }
          }
          > ul.list {
            list-style: none;
            padding: 0;
            margin: 0;
            > li {
              display: block;
            }
            > li > a {
              display: block;
              width: 100%;
              height: 30px;
              padding: 5px 15px;
              line-height: 20px;
              text-align: left;
              &:hover, &:focus {
                background: @btn-primary-border;
                border-radius: @border-radius-large;
                color: @btn-primary-color;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}