.panel.panel-default.form-signin
  .panel-body
    div.text-center(ng-show="loading || authenticating")
      h2 {{ "Trabalhando" | i18n }}
      div.text-center
        i.md.md-settings.md-spin(style="font-size:40px")

    div(ng-show="!loading && !authenticating")
      form(ng-submit="submit()")
        div.cool-banner
          i.md.md-person
        h2.form-signin-heading.sr-only
          i.fa.fa-user
          |  {{ "Entrar" | i18n }}
        label.sr-only(for='inputEmail') {{ "Nome de usuário / E-mail" | i18n }}
        input#inputEmail.form-control(type='text', placeholder='{{ "Nome de usuário / E-mail" | i18n }}', required='', autofocus='')
        label.sr-only(for='inputPassword') {{ "Senha" | i18n }}
        input#inputPassword.form-control(type='password', placeholder='{{ "Senha" | i18n }}', required='')
        button.btn.btn-lg.btn-primary.btn-block.login-button(type='submit') {{ "Entrar!" | i18n }}