@import './site/main-theme';
@import './site/topbar-theme';
@import './site/search-theme';
@import './site/blocks-theme';
@import './site/events-theme';

a {
  color: @link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }

  &:focus {
    .tab-focus();
  }
}


// fallback. 
// bootstrap's buttons are background-image based, 
// but i wish only flat color buttons.

.btn, 
.btn-primary, 
.btn-default {
  background-image: none;
}


.btn-primary {
  background: @brand-primary;
}

//
//
//*:focus {
//  outline: none!important;
//  text-decoration: none!important;
//}