doctype html
html(ng-app="Mercury")
  head
    title Toggle 3g
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    style
      | @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}

  body.ng-cloak(ng-class="getBodyClasses()")
      div.container-wrapper
        div.container-fluid
          block content