div(ng-show="loading", style="text-align:center;font-famity:sans-serif;padding-top:20%;")
  h2 Carregando
  style.
    .bubblingG {
      display: inline-block;
      text-align: center;
      width:50px;
      height:31px;
    }
    .bubblingG span {
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 6px;
      margin: 16px auto;
      background: #2E7BFF;
      -moz-border-radius: 32px;
      -moz-animation: bubblingG 0.6s infinite alternate;
      -webkit-border-radius: 32px;
      -webkit-animation: bubblingG 0.6s infinite alternate;
      -ms-border-radius: 32px;
      -ms-animation: bubblingG 0.6s infinite alternate;
      -o-border-radius: 32px;
      -o-animation: bubblingG 0.6s infinite alternate;
      border-radius: 32px;
      animation: bubblingG 0.6s infinite alternate;
    }
    #bubblingG_1 {
      -moz-animation-delay: 0s;
      -webkit-animation-delay: 0s;
      -ms-animation-delay: 0s;
      -o-animation-delay: 0s;
      animation-delay: 0s;
      }
    #bubblingG_2 {
      -moz-animation-delay: 0.18s;
      -webkit-animation-delay: 0.18s;
      -ms-animation-delay: 0.18s;
      -o-animation-delay: 0.18s;
      animation-delay: 0.18s;
    }
    #bubblingG_3 {
      -moz-animation-delay: 0.36s;
      -webkit-animation-delay: 0.36s;
      -ms-animation-delay: 0.36s;
      -o-animation-delay: 0.36s;
      animation-delay: 0.36s;
    }
    @-moz-keyframes bubblingG {
      0% {
        width: 6px;
        height: 6px;
        background-color:#2E7BFF;
        -moz-transform: translateY(0);
      }
      100% {
        width: 15px;
        height: 15px;
        background-color:#FFFFFF;
        -moz-transform: translateY(-13px);
      }
    }
    @-webkit-keyframes bubblingG {
      0% {
        width: 6px;
        height: 6px;
        background-color:#2E7BFF;
        -webkit-transform: translateY(0);
      }
      100% {
        width: 15px;
        height: 15px;
        background-color:#FFFFFF;
        -webkit-transform: translateY(-13px);
      }
    }
    @-ms-keyframes bubblingG {
      0% {
        width: 6px;
        height: 6px;
        background-color:#2E7BFF;
        -ms-transform: translateY(0);
      }
      100% {
        width: 15px;
        height: 15px;
        background-color:#FFFFFF;
        -ms-transform: translateY(-13px);
      }
    }
    @-o-keyframes bubblingG {
      0% {
        width: 6px;
        height: 6px;
        background-color:#2E7BFF;
        -o-transform: translateY(0);
      }
      100% {
        width: 15px;
        height: 15px;
        background-color:#FFFFFF;
        -o-transform: translateY(-13px);
      }
    }
    @keyframes bubblingG {
      0% {
        width: 6px;
        height: 6px;
        background-color:#2E7BFF;
        transform: translateY(0);
      }
      100% {
        width: 15px;
        height: 15px;
        background-color:#FFFFFF;
        transform: translateY(-13px);
      }
    }
  .bubblingG
    span#bubblingG_1
    span#bubblingG_2
    span#bubblingG_3