extends ./layouts/base
block content
  div
    div
      div.ng-cloak(ng-view)
    //- need to be inline to do be the first thing on page
    //- include layouts/loading

    //- One File to rule them all, One File to style them,
    //- One File to request them all and in the HTML bind them
    link(type="text/css", rel="stylesheet", href="#{root}/css/main.css")
    //- link(type="text/css", rel="stylesheet", ng-href="#{root}/css/themes/{{theme}}.css", data-theme="{{theme}}")

    //- It's all about performance, and some ugly hardcoded stuff
    //- will include all templates used by AngularJS to make sure that
    //- AngularJS will not request them creating some delay on UI
    //- Obviously it's only available on production(where all workarounds lies)
    //- script(type="text/javascript")
    //-   | // lots of hacks ahead
    //-   | // it produce nice things at least, or don't :)
    //-   | (function(w) {
    //-   |  w.root = "#{root}";
    //-   | storage = [];
    //-   for file in templateFiles
    //-     | // _____start_!{file.id}______
    //-     | // MY EYEEEEEEEES
    //-     | // at least our wannabe hacker will not XSS
    //-     | storage.push([!{jsValue(file.id)}, !{jsValue(renderFile(file.name))}]);
    //-     | // _____end_!{file.id}______
    //-   |   //
    //-   |   w.__templateStorage = storage;
    //-   | })(window ? window : GLOBAL);
      
    script(src=screept)